## Lab2 - Data Collection and Pre-processing
Chao-Chung ,Liu

### Data

Primary transactions file: 50000 Sales Records.csv

Source: https://excelbianalytics.com/downloads-18-sample-csv-files-data-sets-for-testing-sales/

Secondary metadata file: ecommerce_dataset_updated.csv

Source: https://www.kaggle.com/datasets/steve1215rogg/e-commerce-dataset

venv

python -m venv lab2venv

lab2venv\Scripts\activate

pip install pandas ipykernel pyarrow

## ðŸŒ•Step1:Hello, Data!

### Attribute Identification

This step is to identify the attribute types of each field in the dataset. It determines the techniques used for downstream cleaning, transformation, and feature engineering.

To identify the attribute types of each field in the dataset. Correctly classifying attributes is the cornerstone of the data engineering lifecycle, as it determines the techniques used for subsequent data cleaning, transformation, and feature engineering.

### A: Qualitative Attributes

Attributes that represent categories or qualities, without numerical meaning.

>Sales Records:

Nominal: Region, Country, Item Type, Sales Channel, Order Priority, Order ID.

>E-commerce:

Nominal: User_ID, Product_ID, Category, Payment_Method

### B: Quantitative Attributes

Attributes expressed as numbers that can be subjected to mathematical operations.

>Sales Records:

Interval (Date): Order Date, Ship Date.

Ratio (Numerical): Units Sold, Unit Price, Unit Cost, Total Revenue, Total Cost, Total Profit

>E-commerce:

Interval (Date): Purchase_Date. 

Ratio (Numerical): Price (Rs.), Discount (%), Final_Price(Rs.)

In [71]:
import pandas as pd
import os

# set data
# Lab2 - Data Collection and Pre-processing/data/
data_dir = 'data'
sales_file = os.path.join(data_dir, '50000 Sales Records.csv')
ecommerce_file = os.path.join(data_dir, 'ecommerce_dataset_updated.csv')

# input Primary:Sales Records
df_sales = pd.read_csv(sales_file)

# input Secondary:E-commerce Dataset
df_ecommerce = pd.read_csv(ecommerce_file)

# display First 3 rows
print("--- Sales Records (First 3 rows) ---")
display(df_sales.head(3))

print("\n--- E-commerce Dataset (First 3 rows) ---")
display(df_ecommerce.head(3))

# check data >500+ rows
print(f"\n[Check] Sales Records Row Count: {len(df_sales)}")
print(f"[Check] E-commerce Dataset Row Count: {len(df_ecommerce)}")

--- Sales Records (First 3 rows) ---

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92
1,Europe,Iceland,Baby Food,Online,H,11/20/2010,599480426,1/9/2011,8435,255.28,159.42,2153286.80,1344707.70,808579.10
2,Europe,Russia,Meat,Online,L,6/22/2017,538911855,6/25/2017,4848,421.89,364.69,2045322.72,1768017.12,277305.60

--- E-commerce Dataset (First 3 rows) ---

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024

[Check] Sales Records Row Count: 50000
[Check] E-commerce Dataset Row Count: 3660

In [72]:
# read the header, print the first 20 lines

import pandas as pd

# use nrows to read first 20 rows
df = pd.read_csv(sales_file, nrows=20)

print("Header:", df.columns.tolist())
print(df.head(20))

Header: ['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit']
                          Region      Country        Item Type Sales Channel  \
0             Sub-Saharan Africa      Namibia        Household       Offline
1                         Europe      Iceland        Baby Food        Online
2                         Europe       Russia             Meat        Online
3                         Europe     Moldova              Meat        Online
4                         Europe        Malta           Cereal        Online
5                           Asia    Indonesia             Meat        Online
6             Sub-Saharan Africa     Djibouti        Household        Online
7                         Europe       Greece        Household        Online
8             Sub-Saharan Africa     Cameroon        Cosmetics       Offline
9             Sub-Saharan Africa      Nigeria        Cosmetics        Online
10            Sub-Saharan Africa      Senegal           Fruits       Offline
11  Middle East and North Africa  Afghanistan        Cosmetics       Offline
12                          Asia        India       Vegetables        Online
13  Middle East and North Africa      Lebanon       Vegetables        Online
14  Middle East and North Africa       Turkey  Office Supplies        Online
15  Middle East and North Africa         Iraq        Cosmetics       Offline
16            Sub-Saharan Africa       Rwanda    Personal Care       Offline
17                        Europe      Ukraine        Baby Food       Offline
18                        Europe      Finland  Office Supplies        Online
19            Sub-Saharan Africa  South Sudan        Beverages       Offline

   Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0               M   8/31/2015  897751939  10/12/2015        3604      668.27
1               H  11/20/2010  599480426    1/9/2011        8435      255.28
2               L   6/22/2017  538911855   6/25/2017        4848      421.89
3               L   2/28/2012  459845054   3/20/2012        7225      421.89
4               M   8/12/2010  626391351   9/13/2010        1975      205.70
5               H   8/20/2010  472974574   8/27/2010        2542      421.89
6               M    2/3/2011  854331052    3/3/2011        4398      668.27
7               L   9/11/2015  895509612   9/26/2015          49      668.27
8               M   1/31/2014  241871583    2/4/2014        4031      437.20
9               C  11/21/2015  409090793   12/7/2015        7911      437.20
10              M   8/29/2016  733153569   10/5/2016        5288        9.33
11              L  10/21/2016  620358741   12/1/2016        6792      437.20
12              C   3/21/2010  897317636    4/5/2010        5084      154.06
13              L  10/15/2010  660954082  11/19/2010        9855      154.06
14              L   10/4/2010  428504407  11/13/2010        2831      651.21
15              M  10/14/2014  787517440  10/19/2014        2766      437.20
16              M   6/15/2013  145854508    7/8/2013         445       81.73
17              M    5/7/2017  581689441   5/29/2017        3687      255.28
18              H   5/21/2015  193508565    7/3/2015        2339      651.21
19              H   6/28/2016  750110709   7/14/2016        3283       47.45

    Unit Cost  Total Revenue  Total Cost  Total Profit
0      502.54     2408445.08  1811154.16     597290.92
1      159.42     2153286.80  1344707.70     808579.10
2      364.69     2045322.72  1768017.12     277305.60
3      364.69     3048155.25  2634885.25     413270.00
4      117.11      406257.50   231292.25     174965.25
5      364.69     1072444.38   927041.98     145402.40
6      502.54     2939051.46  2210170.92     728880.54
7      502.54       32745.23    24624.46       8120.77
8      263.33     1762353.20  1061483.23     700869.97
9      263.33     3458689.20  2083203.63    1375485.57
10       6.92       49337.04    36592.96      12744.08
11     263.33     2969462.40  1788537.36    1180925.04
12      90.93      783241.04   462288.12     320952.92
13      90.93     1518261.30   896115.15     622146.15
14     524.96     1843575.51  1486161.76     357413.75
15     263.33     1209295.20   728370.78     480924.42
16      56.67       36369.85    25218.15      11151.70
17     159.42      941217.36   587781.54     353435.82
18     524.96     1523180.19  1227881.44     295298.75
19      31.79      155778.35   104366.57      51411.78

In [73]:
# open() vs csv vs pandas.read_csv()

import pandas as pd
import csv
import os

data_dir = 'data'
sales_file = os.path.join(data_dir, '50000 Sales Records.csv')

# --- Pandas (One row = Series) ---
print("--- Pandas: Row is a Series ---")
df = pd.read_csv(sales_file, nrows=1)
print(df.iloc[0]) # get first row
print(type(df.iloc[0]))

print("\n" + "-"*30 + "\n")

# --- CSV Module (One row = List) ---
print("--- CSV Module: Row is a List ---")
with open(sales_file, 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    header = next(reader) # pass header
    first_row = next(reader) # get first rowåˆ—
    print(first_row)
    print(type(first_row))

print("\n" + "-"*30 + "\n")

# --- With Open (One row = String) ---
print("--- Open Slicing: Row is a String ---")
with open(sales_file, 'r', encoding='utf-8') as f:
    # use slicing to get specific row
    one_row_string = f.readlines()[1] 
    print(repr(one_row_string)) # repr can see \n
    print(type(one_row_string))

--- Pandas: Row is a Series ---
Region            Sub-Saharan Africa
Country                      Namibia
Item Type                  Household
Sales Channel                Offline
Order Priority                     M
Order Date                 8/31/2015
Order ID                   897751939
Ship Date                 10/12/2015
Units Sold                      3604
Unit Price                    668.27
Unit Cost                     502.54
Total Revenue             2408445.08
Total Cost                1811154.16
Total Profit               597290.92
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

------------------------------

--- CSV Module: Row is a List ---
['Sub-Saharan Africa', 'Namibia', 'Household', 'Offline', 'M', '8/31/2015', '897751939', '10/12/2015', '3604', '668.27', '502.54', '2408445.08', '1811154.16', '597290.92']
<class 'list'>

------------------------------

--- Open Slicing: Row is a String ---
'Sub-Saharan Africa,Namibia,Household,Offline,M,8/31/2015,897751939,10/12/2015,3604,668.27,502.54,2408445.08,1811154.16,597290.92\n'
<class 'str'>

### Which Python structure best represents one row?

"Pandas" offers the best visual clarity for data structures; "csv" module provides a clean programmatic list; "open()" shows raw text strings which are fast to read but messy to look at.

## ðŸŒ•Step2:Pick the Right Container

"Dicts" offer high flexibility via key-value pairs, "Namedtuples" allow attribute-style access but are immutable, and "Sets" only store unique, unordered values.
However, this lab I use "Class" which is superior to all three as it allows encapsulating behavioral methods (like .clean()).

## ðŸŒ•Step3:Implement Functions and Data Structure

I instead create a "Transaction" class.This allows to encapsulate data with specific behaviors (methods),and must include a .clean() method.

Create a Transaction class. This allows data to be encapsulated with specific behaviors (methods). It must include a .clean() method to handle anomalous data and a calculation method (e.g., to calculate profit margin) to meet the experiment's objectives.

In [ ]:
from dataclasses import dataclass
from datetime import datetime

@dataclass
class Transaction:
    # Attribute Definitions
    order_id: int
    item_type: str
    order_date: datetime
    units_sold: int
    unit_price: float
    unit_cost: float
    total_revenue: float
    total_profit: float
    category_discount_avg: float = 0.0 # From E-commerce dataset

    # Data cleaning method
    def clean(self):

        # Trim whitespace and handle N/A for item_type
        item_str = str(self.item_type).strip().upper()
        
        if item_str in ["N/A", "NAN", "NONE", ""]:
            self.item_type = "Unknown"
        else:
            self.item_type = str(self.item_type).strip()

        # Set negative profit to 0
        if self.total_profit < 0:
            self.total_profit = 0.0 
            
        # Casting to appropriate types
        self.total_revenue = float(self.total_revenue)
        self.total_profit = float(self.total_profit)
    
    # --- Step 9: Feature Engineering ---

    @property 
    # Transforms a class method into a "getter" for a read-only attribute. It allows methods to be accessed like attributes without needing parentheses.
    def profit_per_unit(self) -> float:
        # Profit Per Unit
        return self.total_profit / self.units_sold if self.units_sold > 0 else 0.0

    @property
    def efficiency_score(self) -> float:
        # Efficiency Score = Profit Per Unit * (1 - Category Average Discount)
        return self.profit_per_unit * (1 - self.category_discount_avg)

## ðŸŒ•Step4:Bulk Loaded

I uses "List Comprehension" to map each row from the Pandas DataFrame by step3.Handling data in bulk rather than individual variables

Use List Comprehension to convert each column of data in the Pandas DataFrame into the dictionary or object structure defined in Step 3. This is to practice efficiently handling large amounts of data (bulk loading) rather than processing individual variables.

In [ ]:
import pandas as pd

# --- New: Load Secondary Metadata first ---
# Read secondary metadata (E-commerce data) first
ecom_df = pd.read_csv('data/ecommerce_dataset_updated.csv')

# Group by Category and calculate mean Discount (%)
#  { 'Category': avg_discount }
category_discount_lookup = ecom_df.groupby('Category')['Discount (%)'].mean().to_dict()

def load_primary_data(path: str, limit: int = 500) -> list[Transaction]:

    # Input primary data and join with metadata
    df = pd.read_csv(path).head(limit)
    
    transactions = []
    for _, row in df.iterrows():
        # Perform Join logic, lookup discount based on Item Type
        item_type = str(row['Item Type'])
        # NAN==> 0.05 (5%)
        meta_discount = category_discount_lookup.get(item_type, 5.0) / 100
        
        tx = Transaction(
            order_id=int(row['Order ID']),
            item_type=item_type,
            order_date=pd.to_datetime(row['Order Date']),
            units_sold=int(row['Units Sold']),
            unit_price=float(row['Unit Price']),
            unit_cost=float(row['Unit Cost']),
            total_revenue=float(row['Total Revenue']),
            total_profit=float(row['Total Profit']),
            category_discount_avg=meta_discount # <-- Join
        )
        transactions.append(tx)
    return transactions

# loading
sales_list = load_primary_data('data/50000 Sales Records.csv')

# Set global variable as the reference point for Step 9
DATASET_LAST_DATE = max(t.order_date for t in sales_list)

print(f"Successfully loaded {len(sales_list)} objects with joined metadata.")

Successfully loaded 500 objects with joined metadata.

## ðŸŒ•Step5:Quick Profiling
Python "Generator expressions" to perform statistical profiling on the list of Transaction objects,calculating the $min/mean/max$ for revenue and profit. Additionally, we use a Set to determine the count of unique "Item Types".

Use Python's generator expressions to perform statistical profiling on the list of Transaction objects, calculating the $min/mean/max$ for revenue and profit. Additionally, we use a Set to determine the count of unique "Item Types".

In [ ]:
# Extracting profit data for statistics
profits = [tx.total_profit for tx in sales_list]

min_profit = min(profits)
max_profit = max(profits)
mean_profit = sum(profits) / len(profits)

# 2. Calculate the number of unique product categories (using "Set" , as it automatically filters duplicates)
unique_item_types = {tx.item_type for tx in sales_list}
item_type_count = len(unique_item_types)
avg_meta_discounts = [tx.category_discount_avg for tx in sales_list]

# 3. Output results
print(f"--- Quick Profiling Results (N={len(sales_list)}) ---")
print(f"Total Profit - Min: ${min_profit:,.2f}")
print(f"Total Profit - Mean: ${mean_profit:,.2f}")
print(f"Total Profit - Max: ${max_profit:,.2f}")
print(f"Unique Item Types Count: {item_type_count}")
print(f"Avg Market Discount (from Metadata): {sum(avg_meta_discounts)/len(avg_meta_discounts):.2%}")
print(f"List of Unique Types: {sorted(list(unique_item_types))}")

--- Quick Profiling Results (N=500) ---
Total Profit - Min: $93.99
Total Profit - Mean: $398,015.35
Total Profit - Max: $1,731,397.46
Unique Item Types Count: 12
Avg Market Discount (from Metadata): 5.00%
List of Unique Types: ['Baby Food', 'Beverages', 'Cereal', 'Clothes', 'Cosmetics', 'Fruits', 'Household', 'Meat', 'Office Supplies', 'Personal Care', 'Snacks', 'Vegetables']

## ðŸŒ•Step 6: Spot the Grime
"Garbage In, Garbage Out"!!Identifies at least three cases of anomalies (Grime),I will pick a few objects and change their total_profit to negative values or set specific fields to "N/A" strings. This directly follows the lab requirement to "Step 7:Spotting the Grime".And use Boolean masks find the Grime.

Randomly select a few objects and change their total_profit to negative values or set certain fields to "N/A" strings. This corresponds to the lab requirement of "manually injecting dirty data" and then using Boolean masks to locate the dirty data.

In [77]:
# Spotting the Grime

import random

# Introduce grime data for testing
sales_list[10].total_profit = -500.0
sales_list[50].item_type = "N/A"
sales_list[100].total_profit = -9999.0

print("Spotting the Grime Complete 10, 50, and 100.")

# Find the Grime Boolean masks
# use format [t for t in tx if t.price < 0] [cite: 170]
found_grime_negative = [t for t in sales_list if t.total_profit < 0]

# find Item Type :"N/A" 
found_grime_na = [t for t in sales_list if t.item_type == "N/A"]

# results
print(f"Found Grime Results")
print(f"Negative Profit Cases Found: {len(found_grime_negative)}")
for g in found_grime_negative:
    print(f" > Order ID: {g.order_id}, Profit: {g.total_profit}")
    
print(f"\n'N/A' Item Type Cases Found: {len(found_grime_na)}")
print(f"Total grime: {len(found_grime_negative) + len(found_grime_na)}")

Spotting the Grime Complete 10, 50, and 100.
Found Grime Results
Negative Profit Cases Found: 2
 > Order ID: 733153569, Profit: -500.0
 > Order ID: 553483331, Profit: -9999.0

'N/A' Item Type Cases Found: 1
Total grime: 3

## ðŸŒ•Step 7: Cleaning Rules
This step executes the .clean() method encapsulated within the Transaction class to automatically fix the anomalies identified in Step 6. To verify the cleaning effectiveness, I calculate the count of dirty records "Before" and "After" execution.

This step executes the .clean() method encapsulated within the Transaction class to automatically fix the anomalies identified in Step 6. To verify the cleaning effectiveness, I calculate the count of dirty records "Before" and "After" execution.

In [78]:
# --- Before Counts ---
before_negative = [t for t in sales_list if t.total_profit < 0]
before_na = [t for t in sales_list if t.item_type == "N/A"]

print(f"=== Before Cleaning ===")
print(f"Negative Profit count: {len(before_negative)}")
print(f" 'N/A' Item Type count: {len(before_na)}")

# --- Execute fixes inside .clean() ---
for tx in sales_list:
    tx.clean()

after_negative = [t for t in sales_list if t.total_profit < 0]
after_na = [t for t in sales_list if t.item_type == "N/A"]

print(f"\n=== After Cleaning ===")
print(f"Negative Profit count: {len(after_negative)}")
print(f" 'N/A' Item Type count: {len(after_na)}")

# Verified Example
print(f"\nVerified Example (Index 50): Profit is now {sales_list[50].item_type}")

=== Before Cleaning ===
Negative Profit count: 2
 'N/A' Item Type count: 1

=== After Cleaning ===
Negative Profit count: 0
 'N/A' Item Type count: 0

Verified Example (Index 50): Profit is now Unknown

## ðŸŒ•Step 8: Transformations
use Python's "re: module,Transform raw text into computable features

Use Python's re module to extract numerical values from text, transforming raw text into computable features.

In [ ]:
import re

def extract_discount_from_code(code_text):

    # "SAVE15" -> 0.15, "OFF20" -> 0.20
    if not isinstance(code_text, str):
        return 0.0
    
    # Use regex to extract digits from the string
    match = re.search(r'(\d+)', code_text)
    
    if match:
        # Convert the extracted digits to a percentage
        return float(match.group(1)) / 100
    return 0.0

# Test the function
# Example discount codes and their expected outputs
# "SAVE15" -> 15% discount, "PROMO20" -> 20% discount

print("--- Regex Extraction Test ---")
test_codes = ["SAVE15", "PROMO20", "WINTER10", "N/A"]
for code in test_codes:
    discount = extract_discount_from_code(code)
    print(f"Code: {code:10} -> Discount: {discount:.2f}")

# Apply the function to the first three transactions in the sales list
for tx in sales_list[:3]:
    mock_coupon = "SAVE15"  # Example coupon code
    tx.discount_pct = extract_discount_from_code(mock_coupon)  # Add the extracted discount as a new attribute
    print(f"Order {tx.order_id}: Extracted {tx.discount_pct} from '{mock_coupon}'")

--- Regex Extraction Test ---
Code: SAVE15     -> Discount: 0.15
Code: PROMO20    -> Discount: 0.20
Code: WINTER10   -> Discount: 0.10
Code: N/A        -> Discount: 0.00
Order 897751939: Extracted 0.15 from 'SAVE15'
Order 599480426: Extracted 0.15 from 'SAVE15'
Order 538911855: Extracted 0.15 from 'SAVE15'

## ðŸŒ•Step 9: Feature Engineering
In this step, new features are derived from existing fields.used in downstream analytics and machine learning tasks

Extract new features from existing fields. These engineered features provide additional analytical value and are commonly used in downstream analytics and machine learning tasks.

In [80]:
print(f"{'Order ID':<10} | {'Item Type':<15} | {'Profit/Unit':<12} | {'Eff. Score'}")
print("-" * 55)

for tx in sales_list[:5]:
    print(f"{tx.order_id:<10} | {tx.item_type:<15} | ${tx.profit_per_unit:<11.2f} | {tx.efficiency_score:.2f}")

top_category = max(sales_list, key=lambda x: x.efficiency_score).item_type

Order ID   | Item Type       | Profit/Unit  | Eff. Score
-------------------------------------------------------
897751939  | Household       | $165.73      | 157.44
599480426  | Baby Food       | $95.86       | 91.07
538911855  | Meat            | $57.20       | 54.34
459845054  | Meat            | $57.20       | 54.34
626391351  | Cereal          | $88.59       | 84.16

## ðŸŒ•Step 10:Mini-Aggregation
Presenting the most "valuable metrics",like Which products are the most profitable?

Present the most valuable metrics, such as identifying which products are the most profitable.

In [ ]:
from collections import defaultdict

# Create containers for metric lists per category
category_metrics = defaultdict(lambda: {'unit_profits': [], 'eff_scores': []})

# Iterate and collect feature data
for tx in sales_list:
    category_metrics[tx.item_type]['unit_profits'].append(tx.profit_per_unit)
    category_metrics[tx.item_type]['eff_scores'].append(tx.efficiency_score)

# Present results (Sorted by Average Efficiency Score)
print(f"{'Item Type':<20} | {'Avg Profit/Unit':<18} | {'Avg Eff. Score'}")
print("-" * 60)

final_analysis = []
for item, data in category_metrics.items():
    avg_unit_profit = sum(data['unit_profits']) / len(data['unit_profits'])
    avg_eff_score = sum(data['eff_scores']) / len(data['eff_scores'])
    final_analysis.append((item, avg_unit_profit, avg_eff_score))

# Descending by Efficiency Score
final_analysis.sort(key=lambda x: x[2], reverse=True)

for item, apu, aes in final_analysis[:10]: # top 10
    print(f"{item:<20} | ${apu:>16.2f} | {aes:>15.2f}")

# --- Strategic Advice ---
top_eff = final_analysis[0][0]
print(f"\nðŸ’¡Strategic Advice:")
print(f"Category:[{top_eff}] ==> This Category demonstrates the highest efficiency. In future budget allocations, priority should be given to this category to maximize ROI.")

Item Type            | Avg Profit/Unit    | Avg Eff. Score
------------------------------------------------------------
Cosmetics            | $          173.87 |          165.18
Household            | $          165.73 |          157.44
Office Supplies      | $          126.25 |          119.94
Baby Food            | $           95.86 |           91.07
Cereal               | $           88.59 |           84.16
Clothes              | $           73.44 |           69.77
Vegetables           | $           63.13 |           59.97
Meat                 | $           55.87 |           53.08
Snacks               | $           55.14 |           52.38
Personal Care        | $           25.06 |           23.81

ðŸ’¡Strategic Advice:
Category:[Cosmetics] ==> This Category demonstrates the highest efficiency. In future budget allocations, priority should be given to this category to maximize ROI.

## ðŸŒ•Step 11:Serialization Checkpoint
Save cleaned data to JSON

In [82]:
import json

def save_to_json(data_list, filename):
    json_ready_data = []
    
    for tx in data_list:
        # Convert object to dict and handle non-serializable fields
        record = {
            "order_id": tx.order_id,
            "item_type": tx.item_type,
            "order_date": tx.order_date.strftime('%Y-%m-%d'), # date to string
            "total_revenue": tx.total_revenue,
            "total_profit": tx.total_profit,
            "profit_per_unit": tx.profit_per_unit,      # save new feature 1
            "efficiency_score": tx.efficiency_score,    # save new feature 2
            "market_discount_avg": tx.category_discount_avg # save Join data
        }
        json_ready_data.append(record)

    # write to file
    with open(filename, 'w', encoding='utf-8') as f:
        json.dump(json_ready_data, f, indent=4)
    
    print(f"âœ… Successfully saved to  {filename}! (total {len(json_ready_data)} data points)")

# save file
save_to_json(sales_list, 'data/processed_sales_results.json')

âœ… Successfully saved to  data/processed_sales_results.json! (total 500 data points)

## ðŸŒ•Step 12: Soft Interview Reflection

Functions and OOP transformed chaotic data processing into reusable, modular components. By encapsulating logic for cleaning, metadata joining, and feature engineering, I enhanced code readability and ensured consistency across the data pipeline. This modularity allows me to pivot quickly from raw data handling to high-level strategic analysis(such as evaluating profit efficiency)

Separate data processing (Engineering) from business insights (Analysis)

## ðŸŒ•Data-Dictionary Section

This section integrates field definitions from the **Primary Sales Records** and the **Secondary E-commerce Metadata**, including newly engineered features.

| Field | Type | Description | Source | Creation Logic |
| :--- | :--- | :--- | :--- | :--- |
| `order_id` | `int` | Unique identifier for each transaction. | Primary CSV | Original field. |
| `item_type` | `str` | Product category name. | Primary CSV | Cleaned: Trimmed and N/A/Empty handled as "Unknown". |
| `order_date` | `datetime` | Date the order was placed. | Primary CSV | Casting: Converted from String to Datetime object. |
| `total_profit` | `float` | Net profit generated from the sale. | Primary CSV | Cleaned: Negative values normalized to 0.0. |
| `category_discount_avg` | `float` | Average market discount rate for the category. | Secondary Meta | **Join & Mean**: Grouped by Category from E-commerce data. |
| `profit_per_unit` | `float` | Profit contribution of a single unit. | Synthetic | **Calculated**: `total_profit / units_sold`. |
| `efficiency_score` | `float` | Profitability strength adjusted for market discount. | Combination | **Combination**: `profit_per_unit * (1 - category_discount_avg)`. |

### Logic Definitions:
1. **Join**: Merged secondary market trends with primary sales records using `Item Type` as the key.
2. **Synthetic**: Engineered to evaluate unit-level performance, removing the bias of total sales volume.
3. **Combination**: A strategic metric combining internal performance with external market competitiveness to guide budget allocation.